header{
    background: linear-gradient(90deg,#0af,#0085ff);
    color:  #fff;
    line-height: 45px;
    padding-left: 20px;
}
.search-wrapper{
    background: linear-gradient(90deg,#0af,#0085ff);
    padding: 10px 0;
}
.search-value{
    color: #666666;
    height: 30px;
    line-height: 30px;
    margin: 0 20px 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}