.orderList{
    padding: 0px 12px;
}
.orderList li{
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}
.orderList li img{
    width: 10%;
    max-width: 76px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
}
.orderList .orderLabel span{
    padding: 8px 10px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #dddddd
}