.orderList li{
    padding: 0 2%;
}
.orderList li .tags span{
    padding: 0 3px;
    border: 1px solid#cf6b73;
    border-radius: 3px;
    color:#cf6b73;
    margin-right: 5px;
}

.hateBox{
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
}