body{
  background: #ffffff;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.tac{
  text-align: center;
}
.flex-aijc{
  display: flex;
  align-items: center;
  justify-content:center
}

.fs36{
  font-size: 36px;
}
.fs24{
  font-size: 24px;
}
.fs18{
  font-size: 18px;
}
.fs12{
  font-size: 12px
}
