body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, div, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4,p
{margin:0;padding:0;font-style:normal;font:12px/22px "\5B8B\4F53",} 
 
ol, ul ,li{list-style: none;} 
img {border: 0; vertical-align:middle;} 